@import (reference)'../variables/default.less';
@import (reference)'../mixins/index.less';

@prefix-cls: x-button;
@x-button-height: 84px;
@x-button-height-sm: 60px;

.@{prefix-cls} {
  background-color: #F3F3FA;
  border: none;
}

